@model dynamic 


@{
    ViewData["Title"] = "Contacto";
    Contacto contacto= @Model.contacto;
}

<div class="row">
    <div class="col-md-4">  
        <h1 class="display-4">Contacto</h1>
        <form asp-controller="Contacto" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@contacto.Name" class="control-label"></label>
                <input asp-for="@contacto.Name" class="form-control" />
                <span asp-validation-for="@contacto.Name" class="text-danger"></span>
            </div>    

            <div class="form-group">
                Producto
                <select name="cars" id="cars">
                @foreach (Producto producto in Model.productos)
                {
                   <option value="@producto.ID">@producto.Name</option>
                }
                </select>

            </div>    


            <div class="form-group">
                 <button type="submit" class="btn btn-primary">Registrar</button> 
            </div>                

        </form>
            
    
    </div>
</div>
